/* ================== START OF STANDART ====================================================== */

html body .post-body {
	margin: 2em 0;
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 2em 2em;
	border-radius: 3px;
}
html body .post-body .dateAndCat {
	background-color: #eee;
	padding: 5px;
	border-radius: 3px;
}
.pagination-links{
	margin: 30px 0;
}
.pagination-links strong{
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #eee solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #eee solid;
}

* {
	font-family: 'Comfortaa';
}

div #adv_section {
  padding: 15px;
  padding-bottom: 10px;
  color: black;
  background-color: #fbf2e2;
  margin-bottom: 15px;

  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 1.3em;
}

div #adv_section a {
  text-decoration: none;
}

div #adv_section i {
  color: #FC574F;
  font-size: 1.4em;
}
/* ================== END OF STANDART ====================================================== */





/* ================== CUSTOM ====================================================== */
html body{
	background-image: url(../img/besedka3.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover cover;
	background-attachment:  fixed;
}

html body::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

.menu-select {
	height: 40vh;
	width: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	padding: 0;
	
	
}
.custom_btn_style {
	background-color: #fbf2e2;
}

.bg-custom-light {
	background-color: #fbf2e2;
}
#comment_box {
	height: 35%;
	width: 35%;
}
@media (max-width: 450px) {
	html body #comment_box {
		font-size: 0.6em;
	}
	html body #comment_box h3{
		font-size: 1.3em;
	}
	.hidden {
		display: none;
	}
}
@media (max-width: 980px) {
	#comment_box {
		font-size: 0.6em;
	}
	#comment_box h3{
		font-size: 1.2em;
	}
	.hidden {
		display: none;
	}
}
@media (max-width: 1200px) {
	#comment_box {
		font-size: 0.8em;
	}
	#comment_box h3{
		font-size: 1.4em;
	}
}


nav ul{
	position: relative;
}
nav ul li{
	transition: all 0.5s;
}
nav ul li .li-shell {
	width: 100%;
	height: 15%;
	background-color: #F4A460;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0;
	transform: translateY(20px);
}

nav ul li:hover .li-shell{
	opacity: 0.8;
	transform: translateY(2px);
}

@media (max-width: 768px) {
	nav ul li:hover .li-shell {
		display: none;
	}
}

@media (min-width:980px) {
	body .owl-carousel-home .carousel-home-item{
		height: 80vh;
	}
}
.owl-carousel-home .carousel-home-item{
	height: 50vh;
}
.owl-nav{
	bottom: 0;
	position: absolute;
}


html body .owl-carousel .owl-nav button.owl-prev {
	font-size: 2em;
	height: 100%;
	width: 2em;
	color: white;
}
html body .owl-carousel .owl-nav button.owl-next {
	margin-left: 5px;
	font-size: 2em;
	height: 100%;
	width: 2em;
	color: white;
}
html body .owl-carousel .owl-nav button.owl-prev{
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
	-webkit-box-shadow: inset 62px 3px 300px -71px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 62px 3px 300px -71px rgba(0,0,0,0.75);
	box-shadow: inset 62px 3px 300px -71px rgba(0,0,0,0.75);


}
html body .owl-carousel .owl-nav button.owl-prev:hover{
	
	-webkit-box-shadow: inset 132px 3px 300px -12px rgba(0,0,0,0.75);
-moz-box-shadow: inset 132px 3px 300px -12px rgba(0,0,0,0.75);
box-shadow: inset 132px 3px 300px -12px rgba(0,0,0,0.75);


}


html body .owl-carousel .owl-nav button.owl-next {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-box-shadow: inset -75px 3px 300px -71px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -75px 3px 300px -71px rgba(0,0,0,0.75);
	box-shadow: inset -75px 3px 300px -71px rgba(0,0,0,0.75);
}
html body .owl-carousel .owl-nav button.owl-next:hover {
	-webkit-box-shadow: inset -144px 3px 300px -12px rgba(0,0,0,0.75);
-moz-box-shadow: inset -144px 3px 300px -12px rgba(0,0,0,0.75);
box-shadow: inset -144px 3px 300px -12px rgba(0,0,0,0.75);
}

.menu-select p {
	font-size: 1.5em;
}
.shell {
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	background-color: #fbf2e2;
	opacity: 0.8;
	cursor: pointer;		
}

.menu-select p {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.menu-select p a {
	text-decoration:  none;
  	color: black;
  	text-transform: uppercase;
}

@media (max-width: 768px) {
	.menu-select p a {
		font-size: 0.7em;
	}
}
/* .menu-select::before{
	content: '';
  	position: absolute;
  	top: 0;
 	right: 0;
    height: 100%;
    width: 100%;
    background-color: yellow;
    opacity: 0;
    transition: all 0.3s;
} */
.menu-select:hover::before{
	/* opacity: 0.8; */
}


@media (min-width: 980px) {
	.menu-select:hover .shell{
		background-color: #F4A460;
		transform: rotateY(180deg);
		opacity: 1;

	}
	.menu-select:hover .hover-effect {
		top: 45%;
	  	transform: translateY(-45%)rotateY(-180deg);
	}	
}



@media (max-width: 768px) {

	.menu-select {
		height: 20vh;
	}
	.rooms .menu-select, .advantages .menu-select{
		height: 25vh;
	}
	.rooms {
		padding-top: 5vh; 
	}
}






.rooms h1{

	padding-top: 10px;

}
.rooms .col-10{
	background-color: #fbf2e2;
	border-radius: 10px 10px 0px 0px;
	padding: 0;
}




.row {
	margin: 0;
}




.page-heading, .heading {
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	background-color:#fbf2e2;
}


@media (max-width: 768px) {
	.page-heading {
		font-size: 2em;
	}
}

.custom-border-radius{
	border-radius: 10px 10px 0px 0px ;
}

.content .col-lg-6 {
	padding: 0;
}
.col-lg-6, .col-md-6, .col-md-5{
	/* background-color: #fbf2e2; */
}


.content .col-lg-6{
	/* background: none !important; */
}

/* @media(max-width: 768px){
	.content .col-lg-6{
		padding: 0;	
	}
	
} */

.content-heading {
	background-color: #F4A460;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 1.5em;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.content-heading:hover {
	background-color:  	#FFDEAD;
}
.content-text {
	padding: 20px;
	margin-left: 20px;

}
.ul-custom{
	width: 50%;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	float: left;
}
.index .ul-custom{
	margin-left: 0;
}


.dropdown-custom, .dropdown-custom-free_content, .dropdown-custom-not_free_content, .dropdown-custom-price{
	cursor: pointer;
}

.content #price{
	text-align: center;
	font-size: 1.4em;
}

.content #price span{
	font-style: italic;
	font-weight: bold;
}

p.custom-font-size {
	font-size: 1em;
	padding: 20px;
}
p.custom-font-size i{
	font-size: 2.7em;
}


@media (max-width: 768px) {
	.advantages p.custom-font-size{
		font-size: 0.7em;
	}
}


.pad-0 > div {
	padding: 0;
}
.contacts{

}

.contacts_info{
	list-style-type: none;
	padding-top: 20px;
	margin-bottom: 0;
}
.contacts_info > li {
	margin-bottom: 1.5em;
	padding-right: 20px;
}

.contacts_info > li > .i {
	font-style: italic;
}

/* .contacts_info .leave-phone{
	margin-bottom: 0;
} */

.contacts_info form{
	/* padding-bottom: 30px; */
}

#map {
		height: 30em;
		width: 100%;
	}

@media (max-width: 768px){
	#map {
		height: 20em;
	}
}

.content_success_phone{
	background-color: #FFEBCD;
	padding: 15px;
	font-size: 1.5em;
}
@media (max-width: 768px) {
	
	.content_success_phone{
		font-size: 1em;
	}

	.contacts{
		margin-top: 1em;
	}
}

.navbar-brand img{
	width:9em;
	position: absolute;
	left: 0;
	top: -3em;
	z-index: 200;
}
@media (max-width: 768px) {
	.navbar-brand img{
		width:6em;
		top: -2em;
		z-index: 200;
	}
}


.custom-background-color {
	background-color: #fbf2e2;
}




/* GALLERY==============================GALLERY============================== GALLERY==============================*/
/*gallery.css*/
.gallery-block{
	padding-bottom: 20px;
	padding-top: 20px;
}



.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
  background-color: #FFDEAD;
  padding: 10px 0;
}



.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}






/* Owl Carousel */

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background: transparent;
  margin: 0 3px;
  border: 1px solid #fff !important;
}
.owl-dots .owl-dot.active {
  background: #fff;
}


/* Btn theme */

a.btn-theme-custom {
	background-color: #F4A460;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s ease;
}
a.btn-theme-custom:hover{
	background-color: #FFDEAD;
	
}


/* banner area */
.banner-area {
	background-color: #fbf2e2;
	opacity:  0.8;
}
.banner-area > .text-area {
	opacity:  1;
}

.hr-theme {
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}